body {
	margin: 0;
	padding: 0;
}
.bglaranja {
	background-color: orange;
}
.topo {
	width: 100%;
	height: 50px;
	background-color: #e5e5e5;
}
.topo_texto{
	margin-top: 12px;
	position: absolute;
	margin-left: 50px;
	font-family: Comic Sans MS;
}
.logo {
	background-image: url('../img/menu2.png');
	width: 50px;
	height: 70px;
	background-repeat: no-repeat;
	margin-left: 5px;
	position: absolute;
	margin-top: 10px;
	margin-bottom: 30px;
}
.imenew {
	background-image: url('../img/logo.png');
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	margin-left: 5px;
	position: absolute;
	background-size: 100%;	
	margin-top: 180px;
	margin-bottom: 30px;
}
.fazerpedido {
	background-image: url('../img/fazerpedido2.png');
	width: 40px;
	height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 78px;
	position: absolute;
	margin-top: 38px;
	margin-bottom: 30px;
}
.solicitarconta {
	background-image: url('../img/solicitarconta2.png');
	width: 40px;
	height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 78px;
	position: absolute;
	margin-top: 38px;
	margin-bottom: 30px;
}
.chamargarcom {
	background-image: url('../img/chamargarcom2.png');
	width: 40px;
	height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 78px;
	position: absolute;
	margin-top: 38px;
	margin-bottom: 30px;
}
.funcoes {
	font-family: Comic Sans MS;
	margin-top: 48px;
	margin-left: 130px;
}
.cart {
	background-image: url('../img/cart2.png');
	width: 40px;
	height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 130px;
	position: absolute;
	margin-top: 5px;
	margin-bottom: 30px;
}
.trash {
	background-image: url('../img/trash.png');
	width: 20px;
	height: 20px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 10px;
	position: absolute;
	margin-top: 12px;
}
.bandeiras {
	margin-top: 50px;
}
.bandeira {
	width: 90%;
	height: 150px;
	background-repeat: no-repeat;
	margin-left: 5%;
	background-size: 100%;
}
.brasil {
	background-image: url('../img/brasil.png');	
}
.espanha {
	background-image: url('../img/espanha.png');	
}
.reino {
	background-image: url('../img/reino.png');	
}
.mapa {
	background-image: url('../img/mapa.png');
	width: 100%;
	height: 593px;
	background-repeat: no-repeat;
}
.produto {
	font-family: Comic Sans MS;;
	font-size: 1.0em;
	margin-left: 20px;
	margin-top: 10px;
}
.solicitar {
	font-family: Comic Sans MS;;
	font-size: 1.0em;
	text-align: center;
	margin-top: 50px;
}
.produto2 {
	font-family: Comic Sans MS;;
	font-size: 1.4em;
	margin-left: 20px;
	margin-top: 10px;
}
.produto_conf {
	font-family: Comic Sans MS;;
	font-size: 1.0em;
	margin-left: 40px;
	margin-top: 10px;
}
.produto_texto {
	padding-top: 20px;
	float: left;
}
.produto_preco {
	text-align: right;
	padding-right: 15px;
	color: orange;
	float: right;
}
.detalhe_imagem {
	margin-top: 10px;
	background-image: url('../img/maguerita.jpg');	
	background-repeat: no-repeat;
	background-size: 100%;
	width: 80%;
	margin-left: 10%;
	height: 175px;
}
.detalhe_texto {
	font-family: Comic Sans MS;;
	font-size: 1.0em;	
	padding-left: 5px;
	margin-bottom: 30px;
}
.detalhe_adicionar {
	font-family: Comic Sans MS;;
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
	color: orange;
}
.grupo {
	margin-top: 30px;
	font-family: Comic Sans MS;;
	font-size: 1.2em;
	font-weight: bold;
	color: white;
	text-align: center;
	background-color: #c88f22; 
}
.novogrupopizzas {
	background-image: url('../img/pizzas.png');
	width: 100%;
	height: 100px;
	background-repeat: no-repeat;
	background-size: 100%;	
	margin-top: 25px;
}
.novogruposaladas {
	background-image: url('../img/saladas.png');
	width: 100%;
	height: 100px;
	background-repeat: no-repeat;
	background-size: 100%;	
	margin-top: 25px;
}
.novogrupovinhos {
	background-image: url('../img/vinhos.jpg');
	width: 100%;
	height: 100px;
	background-repeat: no-repeat;
	background-size: 100%;	
	margin-top: 25px;
}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em;
}
.footer {
	height: 3em;
	width: 100%;
	background-color: #e5e5e5;
}
 .push {
	height: 3em;
	width: 100%;
}
.voltar{
	margin-top: 12px;
	position: absolute;
	font-family: Comic Sans MS;
	margin-left: 10px;
}
.adicionar{
	margin-top: 12px;
	position: absolute;
	font-family: Comic Sans MS;
	margin-left: 240px;
}
.detalhe_preco{
	font-family: Comic Sans MS;
	margin-left: 10px;
	color: orange;
	margin-bottom: 10px;
}